// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'Indie Flower', cursive;
  background: #EFEFEF;
}
.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}
.wrapper {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}
.main_header{
  width: 100%;
  margin: 0 auto;
  background: snow;
  #logo{
    float: left;
    p{
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 1.5rem;
    }
  }
  #button{
    float: right;
    a {
      line-height: 60px;
      background: chocolate;
      padding: 0.5em 1em;
      border-radius: 0.2em;
      color: white;
      text-decoration: none;
      font-weight: 800;
    }
  }
}
#posts{
  background: white;
  padding: 2em 5%;
  border-radius:0.5em;
  .post{
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid #BBBBBB;
    .title{
      margin: 0;
      a{
        color: chocolate;
        text-decoration: none;
        font-weight: 800;
        font-size: 2rem;
      }
    }
    .data{
      margin-top: 0.3rem;
      font-size: 1rem;
      color: blue;
    }
  }
}